// Variable overrides

//------------------------------
// => Colors
//------------------------------
$primary: #5ccecc;
$c-primary: #5ccecc;
$c-lightgreen: #5ccecc;
$c-lightengreen: #4ecfcd;
$c-light-sky: #7bbed9;
$c-white: #ffffff;
$c-darkgrey: #888888;
$c-grey: #a9a9a9;
$c-tuna: #32313b;
$c-lightgrey: rgba(0, 0, 0, 0.1);
$c-background-grey: #f4f6f5;
$c-nav-background: hsla(0, 0%, 100%, 0.9);
$c-logo: #d33e3a;
$c-logo-hover: #e32d28;
$c-admin-nav: #31333c;
$c-black: #000000;

// => Font sizes
//------------------------------
$f-size-h1: 34px;
$f-size-h2: 28px;
$f-size-h3: 25px;
$f-size-xxxl: 20px;
$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;
$f-size-normal: 14px;
$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 10px;
